
@{
    ViewBag.Title = "MensagemCliente";
}

<h3>Dados cadastrados com sucesso!</h3>
<br />
<p>@Html.ActionLink("Voltar", "CadastrarCliente")</p>
<p>@Html.ActionLink("Visualizar Cadastro", "ListarCliente")</p>
