
@{
    ViewBag.Title = "Mensagem de Cadastro";
}

<h3>Dados cadastrados com sucesso!</h3>
<br />
<p>@Html.ActionLink("Voltar", "Cadastrar")</p>
<p>@Html.ActionLink("Visualizar Cadastro", "Listar")</p>
